<div class="nav-tabs-custom" style="min-height:550px;">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Orders</a></li>
      <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Customer</a></li>
      <li class=""><a href="#tab_3" data-toggle="tab" id="lnk_billing" aria-expanded="false">Billing</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
     
      </div>
    </div> <!-- /.tab-content -->
</div>